<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>과제 #1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
<div class="container">
    <h1> Hello, Spring!</h1>
    <h2> 분반 : 월요일(15:00~18:00)</h2>
    <h2> 학번 : 2018875045 </h2>
    <h2> 이름 : 윤재령 </h2>
</div>
</body>
</html>